.loadMoreBtn {
  padding: 12px 24px;
  font-size: 18px;
  background-color: #d1d5db;
  color: #222;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.loadMoreBtn:hover:not(:disabled) {
  background-color: #c1c5cc;
  transform: scale(1.05);
}

.loadMoreBtn:disabled {
  background-color: #e5e7eb; /* блідий сірий */
  color: #888;
  cursor: not-allowed;
}
